@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

// Set your brand colors
//hsl(235, 22%, 20%); beau blue
//hsl(160, 50%, 76%); Middle Blue Green
//hsl(350, 80%, 80%); mauveious (pinkish)
//hsl(235, 22%, 20%); black

$blue: hsl(205, 46%, 84%); //beau blue
$green: hsl(160, 50%, 76%); //Middle Blue
$pink: hsl(350, 80%, 80%); //mauveious (pinkish)
$black: hsl(235, 22%, 20%); //black
//$grey: hsl(235, 22%, 20%); //black

$primary: $blue;
//$link: $blue;
$info: $pink;
$success: $green;
//$warning: $yellow;
//$danger: $red;
//$dark: $grey-darker;
$white: hsl(205, 46%, 90%);
$whiter: hsl(205, 46%, 96%);


$text: $white;
$text-light: $whiter;
$text-strong: $whiter;

// Update Bulma's global variables
$family-sans-serif: 'Inconsolata', monospace, sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
//$footer-background-color: #813232;
$background: $black;
$scheme-main: $black;
$scheme-main-bis: $black;
$scheme-main-ter: $black;
$scheme-invert: $white;
$scheme-invert-bis: $white;
$scheme-invert-ter: $white;

$border: white;
$border-hover: #aaaaaa;


// Import only what you need from Bulma
@import '../node_modules/bulma/bulma.sass';
/*
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
*/


